/* подключаем шрифт outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

/* сброс стилей и базовые настройки */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #fef8f4; /* бежевый фон */
  color: #333; /* темный текст */
  line-height: 1.6; /* интервал между строками */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}


.card {
    background-color: #fff; /* белый фон */
    border-radius: 12px; /* скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* легкая тень */
    max-width: 600px; /* максимальная ширина */
    padding: 30px;
    margin: 20px;
  }

  
.headerforomlette {
    justify-content: left;
    align-items: left;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #2a2a2a;
}

.description {

    font-size: 0.9rem;
    color: #555;
    line-height: 1.8;
    padding: 0 10;
    margin-bottom: 20px
}

.prep-back {
    background-color: rgba(177, 109, 255, 0.123);
; /* фиолетовый фон */
    border-radius: 5px; /* закруглённые углы */
    padding: 20px; /* отступы внутри блока */
    color: white; /* белый цвет текста */
    margin-bottom: 20px;
}

.prep-back2 {

    border-radius: 5px; /* закруглённые углы */
    padding: 5px; /* отступы внутри блока */
    color: white; /* белый цвет текста */
    margin-bottom: 20px;
}

.prep-back2 {

    border-radius: 5px; /* закруглённые углы */
    padding: 5px; /* отступы внутри блока */
    color: #07010f; /* белый цвет текста */
    margin-bottom: 20px;
}

.card-img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.prep-title {
    color: #663c52;
    font-size: 1.5rem; /* размер заголовка */
    font-weight: 700; /* жирный текст */
    margin-bottom: 10px; /* отступ снизу */
}

.annotation-list {
    list-style-type: none; /* убираем стандартные маркеры */
    padding-left: 0; /* убираем отступ слева, чтобы маркеры не висели слишком далеко */
  }

  
  .annotation-list li::before {
    content: '•'; /* создаём точку перед каждым элементом */
    color: #07010f; /* задаём фиолетовый цвет точки */
    margin-right: 10px; /* отступ между точкой и текстом */
  }

.text-prep {

    color: #07010f
}

.most-title {
    color: #7d594d;
    font-size: 2.5rem; /* размер заголовка */
    font-weight: 700; /* жирный текст */
    margin-bottom: 10px; /* отступ снизу */
}

.annotation-list2 {
    list-style-type: none; /* убираем стандартные маркеры */
    padding-left: 0; /* убираем отступ слева, чтобы маркеры не висели слишком далеко */
  }

  
  .annotation-list2 li::before {
    content: '•'; /* создаём точку перед каждым элементом */
    color: #07010f; /* задаём фиолетовый цвет точки */
    margin-right: 10px; /* отступ между точкой и текстом */
  }



